.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  margin-top: 100px;
  border-radius: 5px;
  border: 2px solid black;
  background-color: #D5D3C3;
  padding: 30px;
}

.login-input {
  margin-top: 5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.login-btn {
  width: 30%;
  margin-top: 8px;
  background: black;
  color: white;
  border-radius: 4px;
  padding: 10px;
}

#footer {
  display: flex;
  justify-content: center;
}